# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
.expo/web/cache/development/babel-loader/0a05e86d0bce6ffb6f51fb79c6f7b763.json
.expo/web/cache/development/babel-loader/0a62fcca9b49f33da63366650c982c9f.json
.expo/web/cache/development/babel-loader/0c204157c347db17edfca37b9eac0dfe.json
.expo/web/cache/development/babel-loader/0ce0e0e8d63a9b7cdfbbc89cb91706ca.json
.expo/web/cache/development/babel-loader/0d315eb534d38f2d98975647edb9d610.json
.expo/web/cache/development/babel-loader/0ddf961adead20809d392a423f016915.json
.expo/web/cache/development/babel-loader/0ee4b111180051d425de57232b416e95.json
.expo/web/cache/development/babel-loader/0f4dc2ba732653a78337fe09a6dc6f32.json
.expo/web/cache/development/babel-loader/1ac643c57b2b57c130ffecb8f9b281be.json
.expo/web/cache/development/babel-loader/1bed3a7800255a1b8ce1bbc72c77c681.json
.expo/web/cache/development/babel-loader/1e4c8de67181e224d45cfdeaae51373e.json
.expo/web/cache/development/babel-loader/1e84aebf6e258580a1f99a799e07df6e.json
.expo/web/cache/development/babel-loader/2b8f3ff9b8102a7f28ef7afc22adf4b8.json
.expo/web/cache/development/babel-loader/2d62e26b5fc880e5551c92101a4e5d62.json
.expo/web/cache/development/babel-loader/2fc53b412783e22da56804f6b1834e48.json
.expo/web/cache/development/babel-loader/2fcfdff240a706600454c5f46302efb5.json
.expo/web/cache/development/babel-loader/3b5057c751bd31e7dae08bb36148cbef.json
.expo/web/cache/development/babel-loader/3d0b010d0b506f01f7cf66012c838590.json
.expo/web/cache/development/babel-loader/3daa1cffe29b813eae968a84297760c8.json
.expo/web/cache/development/babel-loader/3e26c1f6390f5afd6feb865f21732121.json
.expo/web/cache/development/babel-loader/3f4aeb7dc82b4417787dfdce47e3c0cd.json
.expo/web/cache/development/babel-loader/4a13a10dd15ede5be435973e3367ad19.json
.expo/web/cache/development/babel-loader/4aca4274de3454f1edee9765f0cc956e.json
.expo/web/cache/development/babel-loader/4c0148b42663d0db00da4ef1587001c8.json
.expo/web/cache/development/babel-loader/4d733c0726471774bbcf728986bb7efd.json
.expo/web/cache/development/babel-loader/4e581f057de07d63c04b25843c2454af.json
.expo/web/cache/development/babel-loader/5b4c2b989f04ef87703b6835a52102a0.json
.expo/web/cache/development/babel-loader/5c6cacc380883d0269a9e0f7e5137dc5.json
.expo/web/cache/development/babel-loader/05cc1aeba395f1efd35e213ae6e0113d.json
.expo/web/cache/development/babel-loader/5d05cd3b0aa65331fd00883403e8447c.json
.expo/web/cache/development/babel-loader/5dcd0e1546456032202e209ed9e8a798.json
.expo/web/cache/development/babel-loader/5df868a5429238254e90b9416ad05686.json
.expo/web/cache/development/babel-loader/5e623c6f2a472785fb8063474263e849.json
.expo/web/cache/development/babel-loader/6b2c286647635617f5534d9e52efd91f.json
.expo/web/cache/development/babel-loader/6c803f890ad38236d1b7b13631631c74.json
.expo/web/cache/development/babel-loader/6cec7ec7b13ee38ba086da00cd900d78.json
.expo/web/cache/development/babel-loader/6db8600428426b1a243f5809cc8880e4.json
.expo/web/cache/development/babel-loader/6fa0b32bdf553cd2898c917bb2fc56af.json
.expo/web/cache/development/babel-loader/7b3f8aa78bb3905bad146b070242d340.json
.expo/web/cache/development/babel-loader/7ce62ef0d62335a9ed4ece70775b8ba9.json
.expo/web/cache/development/babel-loader/7d39fff7e17669622e0bb69828882958.json
.expo/web/cache/development/babel-loader/8b4d0653a02cb31b6686e62b9ffcc9d2.json
.expo/web/cache/development/babel-loader/8c5a991f1b84b35bb6ccde295d54412a.json
.expo/web/cache/development/babel-loader/8d8042bedc8f14792dbda4824fb58143.json
.expo/web/cache/development/babel-loader/8ea3ca8c121946bb0c15a9de0cd280ee.json
.expo/web/cache/development/babel-loader/8f06a9395cdea5a13e23595dc9d29fab.json
.expo/web/cache/development/babel-loader/8f95d9695c8d7b8c404e7743833db954.json
.expo/web/cache/development/babel-loader/9abe70c959a47ac5e5a6d37bb1f1e6fc.json
.expo/web/cache/development/babel-loader/9d6da75a5d7b928148cd108f475ff830.json
.expo/web/cache/development/babel-loader/9fa8bb8ea69a5fa21ddf9326d98e3733.json
.expo/web/cache/development/babel-loader/9fbd78f9f58a649081b1d50888c7679a.json
.expo/web/cache/development/babel-loader/12bcd14ce9ee56a5c050d0c1a3061d02.json
.expo/web/cache/development/babel-loader/14d5a0280423696d4b34ccf5edd974e7.json
.expo/web/cache/development/babel-loader/14df1c174610bea127ef01d2ae670ceb.json
.expo/web/cache/development/babel-loader/17cef36fa158d3431545bd5cdc9a1f10.json
.expo/web/cache/development/babel-loader/19ceef2641162979b9896c71439c0ebc.json
.expo/web/cache/development/babel-loader/21b3a256f2d9f657fb3d4c3cf3d1d482.json
.expo/web/cache/development/babel-loader/22c4b389d7866dae7dbd3b6936bb8961.json
.expo/web/cache/development/babel-loader/25d7128b2bd7cea99f24f6c3258e113d.json
.expo/web/cache/development/babel-loader/26b358bc0d193e5dd78d6de74fee56e5.json
.expo/web/cache/development/babel-loader/26c0d23b2fb1798f9f7d6465b4cf4d28.json
.expo/web/cache/development/babel-loader/029cf4d4267d69bad9ded2a06706ee4e.json
.expo/web/cache/development/babel-loader/30f816582081e8684205b16e391615b9.json
.expo/web/cache/development/babel-loader/30fe5548f782da63d33456e52c4076d1.json
.expo/web/cache/development/babel-loader/33ac93290d45d0e1b8da6fc9d811c0a9.json
.expo/web/cache/development/babel-loader/35daf55cb5952f5bbc57885cb2e429b6.json
.expo/web/cache/development/babel-loader/36e96704eac3a4cad10fd9b099fae59e.json
.expo/web/cache/development/babel-loader/36fda3f2948f042bc3adda5eb414478d.json
.expo/web/cache/development/babel-loader/40bc1e9fe60f77dafdfe863d889251b7.json
.expo/web/cache/development/babel-loader/41d53746447d51b3a8acfc4a692a7519.json
.expo/web/cache/development/babel-loader/42e2fb30b130bd6f9526e046762abe93.json
.expo/web/cache/development/babel-loader/44a07b7820fc3bd62b9ee8ffeea0cf82.json
.expo/web/cache/development/babel-loader/44a20273d6e4e1b49ee7534f81fd3c0f.json
.expo/web/cache/development/babel-loader/48e867ad167a20731927b2920aa7ba3a.json
.expo/web/cache/development/babel-loader/51d912a0eca0642413c36d17d45834d5.json
.expo/web/cache/development/babel-loader/52c925efdb749dbbc67502ae1476ef82.json
.expo/web/cache/development/babel-loader/54d91e01d3be01000e32a4e20f35082c.json
.expo/web/cache/development/babel-loader/055b3e10e8be2b2119056cb03ee24eec.json
.expo/web/cache/development/babel-loader/55fa96344587ef8afef06112de8014b7.json
.expo/web/cache/development/babel-loader/57e23bd173274d9a66c3a428dcf9ce66.json
.expo/web/cache/development/babel-loader/58a6f308884179460a71b82e76f97c38.json
.expo/web/cache/development/babel-loader/62c06c6dfec8b89ee19ddd851478abbb.json
.expo/web/cache/development/babel-loader/72cfff2a83bef9dcce29ef7fcae92361.json
.expo/web/cache/development/babel-loader/80a3baad5ef2f9ff081c9363399a2b7d.json
.expo/web/cache/development/babel-loader/80bf672a36d51e7226370c5361c49443.json
.expo/web/cache/development/babel-loader/81cee109fb75d037f2c43bbb8cc08949.json
.expo/web/cache/development/babel-loader/83cd155d8532231a8f2e8ead3cb7009e.json
.expo/web/cache/development/babel-loader/83d78905613f5e82bf5226da8732f3ac.json
.expo/web/cache/development/babel-loader/85f61bb6743f55d9ba90332e2c1b2673.json
.expo/web/cache/development/babel-loader/87d7c043bcd04743d7178d962e6ffea9.json
.expo/web/cache/development/babel-loader/87df117b3a4cca2863d6ee94c52059a9.json
.expo/web/cache/development/babel-loader/88f3526bb0d239e198dd1668cdc3d554.json
.expo/web/cache/development/babel-loader/90fb2f49c15fad5ac6984d83c1541907.json
.expo/web/cache/development/babel-loader/97e95b827016c4f8bdd2230d2d2506b1.json
.expo/web/cache/development/babel-loader/98fbfb14092607cbf406dc0a477ceefe.json
.expo/web/cache/development/babel-loader/103a174962b83c07f1e04e0a028633df.json
.expo/web/cache/development/babel-loader/110b64c15a61a42a1777c64e8d482de5.json
.expo/web/cache/development/babel-loader/191e7485b8f4617c09716d5203eb65a0.json
.expo/web/cache/development/babel-loader/252b600538f44526dfa9d030bbdcd318.json
.expo/web/cache/development/babel-loader/262e1e0afea8b4d7f5172b9b72181602.json
.expo/web/cache/development/babel-loader/300d25cc3ba5ae72849344141850eb83.json
.expo/web/cache/development/babel-loader/313a239b5f222ad7ee99ba576e273588.json
.expo/web/cache/development/babel-loader/376e6e8313e042a512d1e49dfd32c1ee.json
.expo/web/cache/development/babel-loader/395dfee2ebe64f7194b695b46a6a59e0.json
.expo/web/cache/development/babel-loader/400b033e0c578a24f5f28f4ee3085924.json
.expo/web/cache/development/babel-loader/0450cfe43086fb584e41948c3b206215.json
.expo/web/cache/development/babel-loader/497a6b424a8d7a73d0488bad1e10cd61.json
.expo/web/cache/development/babel-loader/0506dc8d57b33166e1b0818fa18e47ee.json
.expo/web/cache/development/babel-loader/522e87e0a888223b24820550ff1d8d68.json
.expo/web/cache/development/babel-loader/0523e6df2f9612043a24636fbcf82000.json
.expo/web/cache/development/babel-loader/530b866ba9bf98a4463a79b72c13e5e8.json
.expo/web/cache/development/babel-loader/608e1260d9b59b7da297d06dd43c5c0c.json
.expo/web/cache/development/babel-loader/690b6f6d166c0f42a764329c140a1a52.json
.expo/web/cache/development/babel-loader/723a225f4199172314d52d5f16d512cb.json
.expo/web/cache/development/babel-loader/741e056836e2da52e4cfb4c3517d5f45.json
.expo/web/cache/development/babel-loader/819ffbf293cb05a664a0de80d43ef13f.json
.expo/web/cache/development/babel-loader/0867e3c2e3e69dbb5e9116ef452b6473.json
.expo/web/cache/development/babel-loader/869e30d922e21adbfbad46a4d7b2ca81.json
.expo/web/cache/development/babel-loader/872ab9a0cc962645c412acdd3833349e.json
.expo/web/cache/development/babel-loader/958b32873f92729bcd3f70dfe52ace34.json
.expo/web/cache/development/babel-loader/966cbf2fd04f400777850fb40c152c95.json
.expo/web/cache/development/babel-loader/01032a339d327cc793cc91def9259ece.json
.expo/web/cache/development/babel-loader/1305b78277b9d44d1f9bdd6af37b499e.json
.expo/web/cache/development/babel-loader/1622b4160b91fcfc82bee2b8da80360a.json
.expo/web/cache/development/babel-loader/1727a83a1cc60c42cdec6904f08876c0.json
.expo/web/cache/development/babel-loader/1873c7ea4f1b1197bdbe4c61b6581ffd.json
.expo/web/cache/development/babel-loader/2007b4821330b39753e779e9931df08a.json
.expo/web/cache/development/babel-loader/2662fcc05694cd473218cba9495547c5.json
.expo/web/cache/development/babel-loader/2775a928aa0e499e63e5c664d7924b96.json
.expo/web/cache/development/babel-loader/3969b34b38f41743d49bbc474b58ebb0.json
.expo/web/cache/development/babel-loader/05007d1a17dc7e05b26d81040f8d2a26.json
.expo/web/cache/development/babel-loader/5203a6451f990257c3889ed87335a8f6.json
.expo/web/cache/development/babel-loader/5640fa88a0260d69b6eccd538a6255b1.json
.expo/web/cache/development/babel-loader/5709b2a21ba99ed75b2671ab144657a5.json
.expo/web/cache/development/babel-loader/5773f5e152b6d2df6b649c910070d162.json
.expo/web/cache/development/babel-loader/6142a9b8b3f0cf7457f5f508d0496650.json
.expo/web/cache/development/babel-loader/7674c576b67c976c379b23999fd4c124.json
.expo/web/cache/development/babel-loader/8522c5afbfb35c89df404f74a7a464f4.json
.expo/web/cache/development/babel-loader/8804a2ba957127b16826d7932f48d4bd.json
.expo/web/cache/development/babel-loader/9803fc92373fa38c9e725d525dff01d6.json
.expo/web/cache/development/babel-loader/15386b8512be3c99aa1e16c2f836f47a.json
.expo/web/cache/development/babel-loader/18824a9e33cb58925cf6f746d5ba822c.json
.expo/web/cache/development/babel-loader/20975e934e04b0aa18044fb4fd8afaea.json
.expo/web/cache/development/babel-loader/40286e371e7dc0a539eec760ad93be8b.json
.expo/web/cache/development/babel-loader/41739cfe38be94f5b7026837726ae191.json
.expo/web/cache/development/babel-loader/44263ca91e4173820a875c55ab17ab14.json
.expo/web/cache/development/babel-loader/57241cc283db3db3639117388ff06919.json
.expo/web/cache/development/babel-loader/64384b6686da9f1d9eb7c5959de1a6fe.json
.expo/web/cache/development/babel-loader/067703b7d33ef29fcda218d96f9ac4c0.json
.expo/web/cache/development/babel-loader/85469c1da0b043a08d7f3c05977d44ac.json
.expo/web/cache/development/babel-loader/95280e7a37d96b276dd3003828b475d9.json
.expo/web/cache/development/babel-loader/124083b83b396e5e5330cb2ae2194e19.json
.expo/web/cache/development/babel-loader/162114a7c5c9f933390510a39fc25bbd.json
.expo/web/cache/development/babel-loader/357089a4c1b89882c0301005275281a2.json
.expo/web/cache/development/babel-loader/427492dec625cdcf1829b8b8c008cf8a.json
.expo/web/cache/development/babel-loader/463361dcd78d6f58c7db9ac21df49ae0.json
.expo/web/cache/development/babel-loader/934278dff421c770b70b836fcca72801.json
.expo/web/cache/development/babel-loader/2333928e58cc3e62c398934f1ab7a150.json
.expo/web/cache/development/babel-loader/3956280ed3bc65a528819e2e95f6890e.json
.expo/web/cache/development/babel-loader/7652264e4f29ee316caa460da31c6bf1.json
.expo/web/cache/development/babel-loader/9293253d465faa230e365850c44f64a1.json
.expo/web/cache/development/babel-loader/9538128f42b0c56a9f6b1edd64b19b7a.json
.expo/web/cache/development/babel-loader/9770340a7fbe17d0b215815c664c7cb5.json
.expo/web/cache/development/babel-loader/10486612f5fb1961995cf623283de072.json
.expo/web/cache/development/babel-loader/88488176cbfb86bcb7b4d1b180841b56.json
.expo/web/cache/development/babel-loader/90332533ed1a0b6241a159e769ac29b6.json
.expo/web/cache/development/babel-loader/285925797f69a69494056f12e58f1e6c.json
.expo/web/cache/development/babel-loader/3139840579441327275b832a579fb2b9.json
.expo/web/cache/development/babel-loader/a01e8b0f14b51bc3dfacb4c5cc45807f.json
.expo/web/cache/development/babel-loader/a2a23c3c21e65f0281203e986f707213.json
.expo/web/cache/development/babel-loader/a2d5445a7d24e5b0c2afd73f401199cf.json
.expo/web/cache/development/babel-loader/a20d25297105b97960e37af6c7ba3a2a.json
.expo/web/cache/development/babel-loader/a25c476dea72932b24d7794d56bf84f8.json
.expo/web/cache/development/babel-loader/a80e588782e54c0250fe4daa3ba8ca85.json
.expo/web/cache/development/babel-loader/a222fe3f9d0821ced370d863d077ffc1.json
.expo/web/cache/development/babel-loader/a436f74cc590bf88cf051303a38e2ef5.json
.expo/web/cache/development/babel-loader/a480a199e0ad6a5db0a0ee11f9361ec1.json
.expo/web/cache/development/babel-loader/a945b153b2783a0f4288a3fe54e0d507.json
.expo/web/cache/development/babel-loader/aa302167cc3fbf15c48b381bbaaf9478.json
.expo/web/cache/development/babel-loader/ab9951434101429cabf065221e489754.json
.expo/web/cache/development/babel-loader/ac21aeea9173f160684b4523bd026d5e.json
.expo/web/cache/development/babel-loader/ae22445a771db8cbc6dcc7b7e0950121.json
.expo/web/cache/development/babel-loader/af3e3b218f856c488c9493a7e5aa33da.json
.expo/web/cache/development/babel-loader/b0ae260522c6db51bb70ab2cf1d7565d.json
.expo/web/cache/development/babel-loader/b1c8e1fc40376324d10fafe246a2a752.json
.expo/web/cache/development/babel-loader/b1fef5c0526f8c672fcccd6b0c74e54e.json
.expo/web/cache/development/babel-loader/b3c593e3e22aeac1b41d4a5457b8def4.json
.expo/web/cache/development/babel-loader/b3d5a2aca84ff8b89d1fbf927e0ccab4.json
.expo/web/cache/development/babel-loader/b3f60c025583b93cf8b6303389755990.json
.expo/web/cache/development/babel-loader/b4a993323eb19376a1aa22de56bba898.json
.expo/web/cache/development/babel-loader/b43cb4c5b3537b8ef265f88e13921f84.json
.expo/web/cache/development/babel-loader/b61e6564b50f1aeb407fc51d21e18c87.json
.expo/web/cache/development/babel-loader/b8764adc97353db404eacb96e01e01e3.json
.expo/web/cache/development/babel-loader/b40912ed54af1e27641f46e6b1730d64.json
.expo/web/cache/development/babel-loader/bb2ee387b54f79bb320bb35ba11450f0.json
.expo/web/cache/development/babel-loader/bb485b6bc55777b2e91f3f1c789fe85e.json
.expo/web/cache/development/babel-loader/bca36c8229c17ac4270858c2a54c8344.json
.expo/web/cache/development/babel-loader/bdf6b41b8d46af97c923884cc6cc3bc9.json
.expo/web/cache/development/babel-loader/c1d140b5449691f6b53d46ffe49b5368.json
.expo/web/cache/development/babel-loader/c2c3f077a5caf957e79f6f94f0ddc472.json
.expo/web/cache/development/babel-loader/c2d9c562467d54eb1b7b94b5ad71b32e.json
.expo/web/cache/development/babel-loader/c3a10063e5f4f3f09f163d9452fe4d78.json
.expo/web/cache/development/babel-loader/c7cba8ef8f166e0ed798009b8edba1e6.json
.expo/web/cache/development/babel-loader/c8fe388a523fa3f147f78ed71d2bfa0c.json
.expo/web/cache/development/babel-loader/c22a3d3371584f8e73e1b5b72477288d.json
.expo/web/cache/development/babel-loader/c44dd98255439d41ff30838f81021cc4.json
.expo/web/cache/development/babel-loader/c55e82b331c8c6ac7b47b629ed7ecf8c.json
.expo/web/cache/development/babel-loader/c75d6c82837c79880387207d23fd5b02.json
.expo/web/cache/development/babel-loader/c399dcf47a46e5e648ae197ab3b3222d.json
.expo/web/cache/development/babel-loader/cb4eadff23c3bbebecd5702db7e9edae.json
.expo/web/cache/development/babel-loader/cd6a98d5a01a99773c7f4ae0b3bd0802.json
.expo/web/cache/development/babel-loader/ce927c8aa7f79d69f6e901cef3bad079.json
.expo/web/cache/development/babel-loader/ce787330c1962a836edf92ca36eca0a1.json
.expo/web/cache/development/babel-loader/ce70104833adbbf2d62e3fcc795ad1d0.json
.expo/web/cache/development/babel-loader/d2d252ec18c6d0b1aef6980d93f861b0.json
.expo/web/cache/development/babel-loader/d3a881378a49c6f926806fdaee7ef176.json
.expo/web/cache/development/babel-loader/d3dd109cb3c5f2f9a4f0169e0ceecb45.json
.expo/web/cache/development/babel-loader/d3dda0030874ce40341d35a4eb0494e2.json
.expo/web/cache/development/babel-loader/d9ab876f23a0668907cd81bf73d0f803.json
.expo/web/cache/development/babel-loader/d9b7e865d8ce73221881eea97726e777.json
.expo/web/cache/development/babel-loader/d67bd9661f343f1da9de8bae1e58df91.json
.expo/web/cache/development/babel-loader/d809dc0453b0ad9196028c17dd81b4cc.json
.expo/web/cache/development/babel-loader/d2736a1313b518dee310c6ef6a232336.json
.expo/web/cache/development/babel-loader/d315490b9a518dbbbb86cb73c6eac306.json
.expo/web/cache/development/babel-loader/db3e1de8e06ae4ce6ebe57e3e9f099e3.json
.expo/web/cache/development/babel-loader/dd204d8bcadca747d6b46c8ade8c1816.json
.expo/web/cache/development/babel-loader/dda8f517accca973d4f22fe7fbf245c3.json
.expo/web/cache/development/babel-loader/dda51360fc6246bbd85845ad958016db.json
.expo/web/cache/development/babel-loader/ddd8b459fbd80f362f2d5184f12e8cea.json
.expo/web/cache/development/babel-loader/de76e2543677f96125a7833f4aa965c5.json
.expo/web/cache/development/babel-loader/dec5e0e9d3e6832445dfdd596a9b5880.json
.expo/web/cache/development/babel-loader/e3c7583b317fe03c797a8c740114337a.json
.expo/web/cache/development/babel-loader/e7d6de8178e1ec111f4019a386b364ba.json
.expo/web/cache/development/babel-loader/e7df8f76fb148fd07bfbae8d240f8ece.json
.expo/web/cache/development/babel-loader/e07e346f552224d98e40e14a616f4ff5.json
.expo/web/cache/development/babel-loader/e7f60f287c86952d783ed7fccaa0c1ff.json
.expo/web/cache/development/babel-loader/e8e2bfea9cb273dfc9c1d9e05268e67b.json
.expo/web/cache/development/babel-loader/e46a5bbd188865d95d98a17f498006e9.json
.expo/web/cache/development/babel-loader/e58b5a1428906d1446e617a7a92edb3f.json
.expo/web/cache/development/babel-loader/e68ba49c131b7064168a9e61b02d45d6.json
.expo/web/cache/development/babel-loader/e819edc52a7041c14e8a2a31d50a57c3.json
.expo/web/cache/development/babel-loader/e5439a10418cbb4c81dabe7615c5cc82.json
.expo/web/cache/development/babel-loader/eb143913d052c2aaad75e8f617c88448.json
.expo/web/cache/development/babel-loader/ec09f40e2e27245c6836d58bab3a2f57.json
.expo/web/cache/development/babel-loader/ec85b5b35f7569bab2b01f502bbaf2d9.json
.expo/web/cache/development/babel-loader/eddbb0572b4fb84c9450ea91c8c80c16.json
.expo/web/cache/development/babel-loader/ef53bc7f99edc16c64435ed15646af86.json
.expo/web/cache/development/babel-loader/f4d8d20a36dc7d4109da90b1605dccb3.json
.expo/web/cache/development/babel-loader/f6b0c87609057d33db77b54154d7399d.json
.expo/web/cache/development/babel-loader/f29fa1872b4f75323d12c93e35daa974.json
.expo/web/cache/development/babel-loader/f51f7a9d8473667971616e00df974e0c.json
.expo/web/cache/development/babel-loader/f65d31ac56a12319e370064d66f48217.json
.expo/web/cache/development/babel-loader/f74e9502c98a0cb302d71e45748ffa58.json
.expo/web/cache/development/babel-loader/f75a400e35e75ece56d91f28a4a6d4b8.json
.expo/web/cache/development/babel-loader/f86f988355f162916b4f465550c43f10.json
.expo/web/cache/development/babel-loader/f267cce9abbcac648e47cf7c1cbb5ee1.json
.expo/web/cache/development/babel-loader/f968c970025e23c15a270c839b175320.json
.expo/web/cache/development/babel-loader/f5362b74b732e8098a6015aad11ff652.json
.expo/web/cache/development/babel-loader/f8440d76b1cfaceb75961a264c341721.json
.expo/web/cache/development/babel-loader/fa5f86a24c74fbcb63af62a4aba48c64.json
.expo/web/cache/development/babel-loader/fc0b6cd3c24ecd80bd6b1aa54f3d56d4.json
.expo/web/cache/development/babel-loader/fc7674531a5e0d37c86bd322852d5714.json
.expo/web/cache/development/babel-loader/ff3916a5aa82aabd3168c957c4a6a94e.json
android/app/src/main/java/com/awesomeproject/generated/BasePackageList.java
web-build/register-service-worker.js
android/app/src/main/java/com/awesomeproject/generated/BasePackageList.java
.expo/packager-info.json
.expo/settings.json
